@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98.4%;
		--foreground: 208 38% 53%;
		--card: 0 0% 98.4%;
		--card-foreground: 208 38% 53%;
		--popover: 0 0% 98.4%;
		--popover-foreground: 208 38% 53%;
		--primary: 208 38% 53%;
		--primary-foreground: 0 0% 98.4%;
		--secondary: 199 89% 92%;
		--secondary-foreground: 208 38% 53%;
		--muted: 220 14% 85%;
		--muted-foreground: 208 38% 53%;
		--accent: 184 100% 42%;
		--accent-foreground: 208 38% 53%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 208 38% 53%;
		--input: 208 38% 53%;
		--ring: 208 38% 53%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 210 55% 17%;
		--foreground: 0 0% 98.4%;
		--card: 210 55% 17%;
		--card-foreground: 0 0% 98.4%;
		--popover: 210 55% 17%;
		--popover-foreground: 0 0% 98.4%;
		--primary: 208 38% 53%;
		--primary-foreground: 0 0% 98.4%;
		--secondary: 199 89% 92%;
		--secondary-foreground: 210 55% 17%;
		--muted: 210 40% 30%;
		--muted-foreground: 0 0% 98.4%;
		--accent: 184 100% 42%;
		--accent-foreground: 210 55% 17%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98.4%;
		--border: 208 38% 53%;
		--input: 208 38% 53%;
		--ring: 208 38% 53%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
